@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Inter";
    color: #333;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 20px;
}

.navbar a {
    color: #FFF;
    padding: 20px;
    text-decoration: none;
}

.navbar a.active {
    background-color:#000;
}

.navbar-left {
    float: left;
    padding-left: 15%;
}

.navbar-right {
    float: right;
    padding-right: 15%;
}

.user-list a {
    text-decoration: none;
}

.track-wrapper {
    display: flex;
    justifycontent: center;
    align-items: center;
    height: 75vh;
    padding: 16px;
    box-sizing: border-box;
}

.track-list {
    display: flex;
    flex-warp: wrap;
    gap: 20px;
}
.track-list a {
    text-decoration: none;
}

.track-preview {

}

.audioplayer {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

