# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

target

server/audio_files/*
!server/audio_files/.gitkeep

image_files/*
!image_files/.gitkeep

.envrc

.venv
