@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Inter";
    color: #333;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 20px;
}

.navbar a {
    color: #FFF;
    text-decoration: none;
    padding: 20px;
}

.navbar a:hover {
    color: #FF5500;
}

.navbar a.active {
    background-color:#000;
}

.logo {
    height: 100%;
    max-height: 60px;
    margin-top:-20px;
    margin-bottom:-20px;
}

.navbar-left {
    float: left;
    padding-left: 15%;
}

.navbar-right {
    float: right;
    padding-right: 15%;
}

.user-list a {
    text-decoration: none;
}

.content {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}

.track-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.track-preview {
    padding: 10px 16px;
    border: 1px solid #ff5500;
}

.track-preview h2 {
    font-size: 20px;
    color: #ff5500;
    marginBottom: 8px
}
.track-preview a {
    text-decoration: none;
}

.audioplayer {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

.upload {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.upload label {
    text-align: left;
    display: block;
}

.upload h1 {
    font-size: 20px;
    color: #ff5500;
    margin-bottom: 30px;
}

.upload input, .upload textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
}

.login {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.login label {
    text-align: left;
    display: block;
}

.login h1 {
    font-size: 20px;
    color: #ff5500;
    margin-bottom: 30px;
}

.login h2 {
    font-size: 20px;
    color: #ff5500;
    margin-bottom: 30px;
}

.login input, .login textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
}

.login nav.register-link a {
    text-decoration: none;
    font-weight: bold;
}

.login .register-link a:hover {
    color: #ff5500;
    text-decoration: underline;
}

.createuser {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.createuser label {
    text-align: left;
    display: block;
}

.createuser h1 {
    font-size: 20px;
    color: #ff5500;
    margin-bottom: 30px;
}

.createuser h2 {
    font-size: 20px;
    color: #ff5500;
    margin-bottom: 30px;
}

.createuser input, .createuser textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
}

.button-container {
    margin-top: 5px; /* Adjust the margin as needed */
}

.like-button,
.unlike-button {
    margin-left: 30px; /* Adjust the margin as needed */
}

