@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Sans Serif", monospace;
    color: #333;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    overflow: hidden;
    padding: 20px;
    z-index: 999;
}

.navbar a {
    color: #FFF;
    text-decoration: none;
    padding: 20px;
}

.navbar a:hover {
    color: #FF5500;
}

.navbar a.active {
    background-color:#000;
}

.logo {
    height: 100%;
    max-height: 60px;
    margin-top:-20px;
    margin-bottom:-20px;
}

.navbar-left {
    float: left;
    padding-left: 15%;
}

.navbar-right {
    float: right;
    padding-right: 15%;
}

.user-list a {
    text-decoration: none;
}

.content {
    max-width: 1000px;
    padding-top: 80px;
    margin: 40px auto;
    padding-bottom: 80px;
}

.track-wrapper {
    position: relative;
}
.track-wrapper h2 {
    margin-bottom: 10px;
}

.track-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.track-preview {
    padding: 10px 16px;
    border: 1px solid #ff5500;
    background-color: #f2f2f2;
}

.track-preview h2 {
    font-size: 20px;
    color: #ff5500;
    marginBottom: 8px;
}
.track-preview a {
    text-decoration: none;
}
.track-preview .action-buttons button {
    background-color: transparent;
    border: none;
    color: #666; /* Subtle gray color */
    font-size: 14px;
    padding: 0;
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth color transition */
}

/* Hover effect */
.track-preview .action-buttons button:hover {
    color: #333; /* Darker gray color on hover */
}
.audioplayer {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

.upload {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.upload label {
    text-align: left;
    display: block;
}

.upload h1 {
    font-size: 20px;
    color: #ff5500;
    margin-bottom: 30px;
}

.upload input, .upload textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
}

.login {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.login label {
    text-align: left;
    display: block;
}

.login h1 {
    font-size: 20px;
    color: #ff5500;
    margin-bottom: 30px;
}

.login h2 {
    font-size: 20px;
    color: #ff5500;
    margin-bottom: 30px;
}

.login input, .login textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
}

.login nav.register-link a {
    text-decoration: none;
    font-weight: bold;
}

.login .register-link a:hover {
    color: #ff5500;
    text-decoration: underline;
}

.createuser {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.createuser label {
    text-align: left;
    display: block;
}

.createuser h1 {
    font-size: 20px;
    color: #ff5500;
    margin-bottom: 30px;
}

.createuser h2 {
    font-size: 20px;
    color: #ff5500;
    margin-bottom: 30px;
}

.createuser input, .createuser textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
}

.button-container {
    margin-top: 5px;
}

.like-button,
.unlike-button {
    margin-left: 30px;
}

.delete-track-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.delete-status {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: fit-content;
}

.delete-status.error {
    background-color: #ff6347;
}

.delete-status.success {
    background-color: #ff5500;
}

.delete-input {
    display: flex;
    align-items: center;
}

.delete-input input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.delete-input button {
    padding: 8px 20px;
    background-color: #ff5500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-input button:hover {
    background-color: #ff5500;
}
 .my-tracks {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.upload form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.upload label {
    margin-top: 10px;
}

.upload input[type="text"],
.upload textarea,
.upload input[type="file"] {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 400px;
}

.upload textarea {
    height: 100px;
    resize: vertical;
}

.upload button {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #ff5500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload button:hover {
    background-color: #ff5500;
}

.upload p.error {
    margin-top: 10px;
    color: #ff6347;
    font-weight: bold;
}

.whoAmI {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.whoAmI p {
    margin-top: 10px;
}

.whoAmI button {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #ff5500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.whoAmI button:hover {
    background-color: #ff5500;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login h1, .login h2 {
    margin-bottom: 10px;
}

.login label {
    margin-top: 10px;
}

.login input {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login button {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #ff5500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button:hover {
    background-color: #ff5500;
}

.login p {
    margin-top: 20px;
}

.createuser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.createuser h1 {
    margin-bottom: 10px;
}

.createuser label {
    margin-top: 10px;
}

.createuser input {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.createuser button {
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #ff5500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.createuser button:hover {
    background-color: #ff5500;
}

.createuser p {
    margin-top: 20px;
    color: red;
}

.search {
    display: flex;
    flex-direction: column;
}

.search-input-container {
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.search-button {
    background-color: #ff5500;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #ff5500;
}

.search-results {
    margin-top: 10px;
}

.error {
    color: #ff5500;
}

.audioplayer {
    background: #f2f2f2;
}

.inner {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    background: #f2f2f2;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.time {
    font-family: 'Sans Serif', monospace;
}
.time.current {
    font-family: 'Sans Serif', monospace;
    color: #ff5500;
}

.progress {
    display: flex;
    align-items: center;
    height: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 40%;
}

.displaytrack {
    padding-right: 20px;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.popup-content {
    text-align: center;
}

.popup button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.popup button:hover {
    background-color: #0056b3;
}

.create-playlist {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.create-playlist label {
    text-align: left;
    display: block;
}

.create-playlist h1 {
    font-size: 20px;
    color: #ff5500;
    margin-bottom: 30px;
}

.create-playlist input, .create-playlist textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
}

.create-playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.create-playlist form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.create-playlist label {
    margin-top: 10px;
}

.create-playlist input[type="text"],
.create-playlist textarea,
.create-playlist input[type="file"] {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 400px;
}

.create-playlist textarea {
    height: 100px;
    resize: vertical;
}

.create-playlist button {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #ff5500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-playlist button:hover {
    background-color: #ff5500;
}

.create-playlist p.error {
    margin-top: 10px;
    color: #ff6347;
    font-weight: bold;
}

.playlist-wrapper {
    position: relative;
}
.playlist-wrapper h2{
    margin-bottom: 10px;
}

.playlist-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.playlist-preview {
    padding: 10px 16px;
    border: 1px solid #ff5500;
    background-color: #f2f2f2;
}

.playlist-preview h2 {
    font-size: 20px;
    color: #ff5500;
    marginBottom: 8px;
}
.playlist-preview a {
    text-decoration: none;
}

.user-wrapper {
    position: relative;
}
.user-wrapper h2{
    margin-bottom: 10px;
}

.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.user-preview {
    padding: 10px 16px;
    border: 1px solid #ff5500;
    background-color: #f2f2f2;
}

.user-preview h2 {
    font-size: 20px;
    color: #ff5500;
    marginBottom: 8px;
}
.user-preview a {
    text-decoration: none;
}

.track-details-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ff5500;
    border-radius: 5px;
}

.track-name {
    margin-bottom: 10px;
    color: #ff5500;
}

.artist-details {
    margin-bottom: 10px;
    overflow: hidden;
}

.artist-label {
    float: left;
}

.track-description,
.track-plays {
    margin-bottom: 10px;
}

.button-container {
    margin-top: 10px;
}

.action-button {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.like-button {
    background-color: #2196F3;
    border: none;
    color: white;
}

.unlike-button {
    background-color: #f44336;
    border: none;
    color: white;
}
.select-container {
    padding-top: 10px;
}

.select-container select {
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.select-container select:hover {
    border-color: #aaa;
}

.select-container select:focus {
    outline: none;
    border-color: #007bff;
}

.select-container option {
    font-size: 16px;
}

.select-container button {
    margin-left: 5px;
    padding: 8px 10px;
    background-color: #ff5500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.my-playlists {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.my-playlists button {
    margin-top: 10px;
    padding: 8px 10px;
    background-color: #ff5500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.user-details .user-playlists {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-details .user-playlists button {
    margin-top: 10px;
    padding: 8px 10px;
    background-color: #ff5500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.user-details .user-tracks {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.playlist-details {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.playlist-details button {
    margin-top: 10px;
    padding: 8px 10px;
    background-color: #ff5500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.playlist-details .confirm button {
    margin: 5px;
    padding: 8px 10px;
    background-color: #ff5500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.displaytrack {
    display: flex;
    align-items: center;
}

.displaytrack a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.displaytrack a div {
  margin-right: 10px;
}

.displaytrack a div:last-child {
  margin-right: 0;
}
