<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SoundClown Login Page</title>
</head>
<body>
<div>Login Page</div>
<div>
    <form method="POST" enctype="multipart/form-data" action="/login">
        <table>
            <tr><td>Username:</td><td><input type="text" name="username" /></td></tr>
            <tr><td>Password:</td><td><input type="text" name="password" /></td></tr>
            <tr><td></td><td><input type="submit" value="Login" /></td></tr>
        </table>
    </form>
</div>
</body>
</html>

