<html xmlns:th="https://www.thymeleaf.org">
<body>
	<figure>
		<figcaption>Listen to requested Track:</figcaption>
		<a href="@{|/download/${filename}|}"> Download audio (${filename}) </a>
		<br>

		<audio th:src="${filename}" controls="controls">
			<source th:src="${filename}" type="audio/mpeg" />
			Your browser does not support the audio element.
		</audio>
	</figure>

	<!-- <div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
				<br>
				<audio th:src="${file}" controls="controls">
					<source th:src="${file}" type="audio/mpeg" />
					Your browser does not support the audio element.
				</audio>
			</li>
		</ul>
	</div> -->

</body>
</html>
